<!--The content below is only a placeholder and can be replaced.-->

<div class="toolbar">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <div>Welcome {{ title }}!</div>
</div>

<div class="content">
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <div class="card-container">
    <div class="card">
      <i class="material-icons">school</i>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
        >Learn Angular</a
      >
      <i class="material-icons">chevron_right</i>
    </div>

    <div class="card">
      <i class="material-icons">code</i>
      <a target="_blank" rel="noopener" href="https://angular.io/cli"
        >CLI Documentation</a
      >
      <i class="material-icons">chevron_right</i>
    </div>

    <div class="card">
      <i class="material-icons">whatshot</i>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/"
        >Angular Blog</a
      >
      <i class="material-icons">chevron_right</i>
    </div>
  </div>

  <hr />

  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <div class="card-container">
    <div class="card small">
      <i class="material-icons">add</i>
      <span>New Component</span>
    </div>

    <div class="card small">
      <i class="material-icons">add</i>
      <span>Angular Material</span>
    </div>

    <div class="card small">
      <i class="material-icons">add</i>
      <span>Add Dependency</span>
    </div>

    <div class="card small">
      <i class="material-icons">add</i>
      <span>Run Test</span>
    </div>

    <div class="card small">
      <i class="material-icons">add</i>
      <span>Build for Production</span>
    </div>
  </div>

  <div class="terminal">
    <pre>
    <span class="code">ng generate component xyz</span>
  </pre>
  </div>

  <div class="card-container">
    <div class="circle-link" title="Animations">
      <img src="../assets/animations.png" height="20px" />
    </div>

    <div class="circle-link" title="CLI">
      <img src="../assets/cli.png" height="20px" />
    </div>

    <div class="circle-link" title="Augury">
      <img src="../assets/augury.png" height="20px" />
    </div>

    <div class="circle-link" title="Protractor">
      <img src="../assets/protractor.png" height="20px" />
    </div>

    <div class="circle-link" title="Find a Local Meetup">
      <img src="../assets/meetup-icon.png" height="20px" />
    </div>

    <div class="circle-link" title="Join the Conversation on Gitter">
      <img src="../assets/gitter-icon.png" height="20px" />
    </div>
  </div>

  <footer>
    <p>Love Angular? <a>Give our repo a star.</a></p>
  </footer>

</div>

<router-outlet></router-outlet>
